<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thiết Kế Website | Online Test</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/test.css">
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.9.0-web/css/all.min.css">

    <script src="../js/angular.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="../images/banner.png" class="rounded" alt="Cinque Terre">
        </div>
    </header>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-dark">
                <a class="navbar-brand nav-item" href="../index.html">FPT Polytechnic</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ul-navbar ">
                    <li class=" active">
                        <a class="nav-link nav-item" href="#" >Giới Thiệu <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="nav-link nav-item" href="#">Liên Hệ</a>
                    </li>
                    <li>
                        <a class="nav-link nav-item" href="#">Gợi Ý</a>
                    </li>
                    <li>
                            <a class="nav-link nav-item " href="#">Hỏi Đáp</a>
                        </li>
                </ul>
                <div class="dropdown my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle nav-item" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài Khoản</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="../register/register.html">Đăng Ký</a>
                        <a class="dropdown-item" href="../login/login.html">Đăng Nhập</a>
                        <a class="dropdown-item" href="#">Quên Mật Khẩu</a>
                        <hr>
                        <a class="dropdown-item" href="#">Đăng Xuất</a>
                        <a class="dropdown-item" href="#">Đổi Mật Khẩu</a>
                        <a class="dropdown-item" href="#">Cập Nhật Tài Khoản</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row m-auto">
            <div class="col-8 mt-2" ng-app="Quizs" ng-controller="myCtrl" >
              <div id="remove">
                <div class="card " >
                    <div class="card-header">
                       <p class="fas fa-list-ul mark-question-align-left card-header-topic"> xây dựng trang web</p>
                       <p class="mark-text-align-right far fa-clock mt-1">00:00</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text" >{{question}}</p>
                        <hr>
                        <form action="" method="">
                            <div class="custom-control custom-radio">
                                <input ng-model="answer" type="radio" id="customRadioA" name="customRadio" class="custom-control-input" ng-value="Id1">
                                <label class="custom-control-label" for="customRadioA">{{answer1}} </label>
                            </div>
                            <div class="custom-control custom-radio">
                               <input ng-model="answer" type="radio" id="customRadioB" name="customRadio" class="custom-control-input"ng-value="Id2">
                                <label class="custom-control-label" for="customRadioB">{{answer2}} </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input ng-model="answer" type="radio" id="customRadioC" name="customRadio" class="custom-control-input" ng-value="Id3">
                                <label class="custom-control-label" for="customRadioC">{{answer3}} </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input ng-model="answer" type="radio" id="customRadioD" name="customRadio" class="custom-control-input" ng-value="Id4">
                                <label class="custom-control-label" for="customRadioD">{{answer4}} </label>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                          <p class="mark-question-align-left">Mark {{questionNumber}}</p>
                    </div>
                </div>
                <div class="container mt-2">
                        <div class="row button-group-topic">
                            <div class="btn-group ">
                                <button type="button" class="btn btn-outline-dark">
                                    <a href="#"><i class="fas fa-angle-left" ng-click="prev()"></i></a>
                                </button>
                                <button type="button" class="btn btn-outline-dark">
                                    <a href="#"><i class="fas fa-angle-up"></i></a>
                                </button>
                                <button type="button" class="btn btn-outline-dark">
                                        <a href="#"><i class="fas fa-angle-down"></i></a>
                                </button>
                                <button type="button" class="btn btn-outline-dark" ng-click="next()">
                                    <a href="#"><i class="fas fa-angle-right"></i></a>
                                </button>

                            </div>
                        </div>
                    </div>

                  </div>
                    <p >{{result}}</p>
            </div>
            <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header fas fa-list-ul">
                       DANH MỤC
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item p-2 pl-3">Lập trình Android nâng cao</li>
                        <li class="list-group-item p-2 pl-3">Xây dựng trang web</li>
                        <li class="list-group-item p-2 pl-3">Cơ sở dữ liệu</li>
                        <li class="list-group-item p-2 pl-3">SQL Server</li>
                        <li class="list-group-item p-2 pl-3">Internet Maketing</li>
                        <li class="list-group-item p-2 pl-3">Lập trình hướng đối tượng với Java</li>
                        <li class="list-group-item p-2 pl-3">Lập trình PHP</li>
                        <li class="list-group-item p-2 pl-3">Điện toán đám mây</li>
                        <li class="list-group-item p-2 pl-3">Lập trình Android cơ bản</li>
                        <li class="list-group-item p-2 pl-3">Lập trình game 2D</li>
                        <li class="list-group-item p-2 pl-3">Thiết kế giao diện trên Android</li>
                        <li class="list-group-item p-2 pl-3">Thiết kế web cho điện thoại di động</li>
                        <li class="list-group-item p-2 pl-3">Lập trình ASP.NET</li>
                    </ul>
                  </div>
            </div>

            </div>
        </div>

    </div>

    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="../js/ControllerQuiz.js"></script>
</body>

</html>
